<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miperrito.com</title>
    <link rel="stylesheet" href="/public/CSS/estilos.css">
    <script src="/public/js/login.js"></script>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/admin/paseadores/indexPaseadores.html" id="form_id" name="myform">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
            <a href="register.html">Registrarme</a>
            <!-- <input type="button" value="LOGIN" id="submit" onclick="validate()"/> -->
        </form>       
        
    </div>
</body>
</html>